name: uidebienestar
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  dio: ^5.9.0
  dio_web_adapter: ^2.1.1

  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  generate: true
  uses-material-design: true

  assets:

    - lib/assets/images/imagen4.png  # ← Mantengo la que ya tenías por si aún no mueves todo

  # === CONFIGURACIÓN OPCIONAL PERO RECOMENDADA PARA l10n ===
  # Si quieres personalizar la generación de AppLocalizations, crea un l10n.yaml
  # Pero con esto ya funciona con valores por defecto

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
